{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "targets": "last 2 versions, not dead"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
    ]
}
